* {
  padding:0;
  margin:0;
}

footer {
  width:50%;
  margin-top:50px;
}
.ui.card.login-container {
  height:50%;
  margin-top:40px !important;
  display:flex;
  /* justify-content: center; */ /* this align item vertically */
  align-items: center;
  margin:auto;
  padding-top:30px;
}

.ui.header {
  text-align:center;
}

.form-container{
  width:80%;
  margin-top:40px !important;
  margin:auto;
}

.list-container {
  width:90%;
  margin-top:40px !important;
  margin-left:50px !important;
}
