<% include partials/header %>
<div class="ui relaxed divided list">
  <div class="item">
    <% profile.forEach(user => { %>
      <form action="/<%= user.id %>?_method=DELETE" method="POST">
        <%=user.id%>
        <div class="content">
          <div class="header">
            <%= user.username %>
          </div>
          <div class="description">
            <%= user.createdAt.toDateString() %>
          </div>
          <button type="submit" class="ui button"> Delete Account </button>
        </div>
      </form>
    <% }) %>
  </div>
</div>

<% include partials/footer %>
